name: release

on:
  release:
    types: [published]

jobs:
  release:

    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/nngeometry
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: astral-sh/setup-uv@v5
    - uses: actions/setup-python@v5
    - run: uv build 
    - uses: pypa/gh-action-pypi-publish@release/v1